@font-face {
  font-family: "Open Sans";
  src: url(../src/assets/fonts/Open_Sans/OpenSans-VariableFont_wdth_wght.ttf);
}

@font-face {
  font-family: "Montserrat";
  src: url(../src/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Inter";
  src: url(../src/assets/fonts/Inter/Inter-Regular.ttf);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat";
}

body {
  background-color: #0f0f0f;
  color: #E9EAEC;
}

a {
  color: #E9EAEC;
}

button {
  background: transparent;
  border: none;
  margin: auto;

  svg {

    &:hover {
      cursor: pointer;
    }
  }
}

input {
  background-color: transparent;
  border-color: #E9EAEC;
}

.darkMode {
  .scroll-button{
    fill: rgba(0, 0, 255, 0.47);
    &:hover{
      fill: blue;
    }
  }
      h2{
      color: blue!important;
      span{
        color: #0f0f0f!important;
      }
    }
  

  background-color: #E9EAEC;
  fill: blue;
  ;

  .dropDownWrapper {

    .renderContainer{
      border: 1px solid #0f0f0f !important;
      p{
        color: #0f0f0f;
      }
    }
    .filterWtrap {
      align-items: center;

    }

    .overlay-spo {
      background-color: #E9EAEC;
      color: #0f0f0f;
    }

    .overlay {
      background-color: #E9EAEC;
      color: #0f0f0f;
    }

    .react-dropdown-select-dropdown {
      background-color: #E9EAEC;
      color: #0f0f0f;
    }

    .sportSelect {
      border: 1px solid #0f0f0f;
      color: #0f0f0f;
    }

    .countSelect {
      border: 1px solid #0f0f0f;
      color: #0f0f0f;
    }
  }

  .navbar_container {
          .logo{
            border: 1px solid blue;
            background-color:blue;
            color: #E9EAEC;
            padding: 5px;
          }
    .dark-mode_wrapper {
      .darkModeButton {
        svg {
          fill: blue;
        }
      }
    }

    .searchbar {
      input {
        border: 3px solid blue;
        color: #0f0f0f;
      }

      img {
        filter: invert(100%);
      }
    }
  }

  .hero_header {
    h1 {
      color:blue;
    }
  }

  a {
    color: #0f0f0f;
  }

  .league_list {
    .league_list_item {

      h3 {
        -webkit-text-stroke-color: blue;
        color: #E9EAEC;
      }
    }
  }
    .underline-hover {
      position: relative;
      text-decoration: none;
      
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        border-bottom: 15px solid blue; // Ändere dies auf die gewünschte Farbe und Dicke
        transition: width 0.3s ease-in-out; // Ändere die Übergangszeit nach Bedarf
        z-index: -1;
      }
      &:hover:before {
        width: 100%;
      }
    }
}

.slide_in{
  animation-name: slide_in;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
  
    @keyframes slide_in {
      from {
        transform: translateY(100px);
        opacity: 0;
      }
  
      to {
        transform: translateY(0px);
        opacity: 1;
      }
    }
}

.loading{
  display: none;
}


