.dropDownWrapper{
    padding-top: 100px;
    padding-inline: 4.5%;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    .selectContainer{
        gap: 35px;
        display: flex;
    }
    
    .filterWrap{
        display: flex;
        gap: 36px;
        .renderContainer{
            cursor: pointer;
            border: 1px solid #E9EAEC;
            padding: 5px;
            p{
                padding-top: 0.1rem;
            }
        }
    }
    .overlay-spo {
        color: #E9EAEC;
        background-color: #0f0f0f;
        position: absolute;
        bottom: 3px;
        width: 170px;
        height: 26px;
        margin-left: 0.4rem;
        z-index: 1;
        }

        .countSelect {
        border: 1px solid #E9EAEC;
        width: 200px;
        z-index: 0;
        }
        .react-dropdown-select-dropdown{
            background-color:#0f0f0f;
        }
    .overlay {
        color: #E9EAEC;
        background-color: #0f0f0f;
        position: absolute;
        bottom: 1.5px;
        width: 170px;
        height: 26px;
        margin-left: 0.4rem;
        z-index: 1;
    }

    .sportSelect {
    border: 1px solid #E9EAEC;
    width: 200px;
    z-index: 1;
    }
    .react-dropdown-select-dropdown{
        background-color:  #0f0f0f;
    }
    .countSelect{
        width: 200px;
        z-index: 1;

    }
}
@media (max-width: 767.98px){
    .dropDownWrapper{
        flex-direction: row;
        padding-top: 40px;
        .filterWrap{
            .renderContainer{
                max-height: 36px;
                width: fit-content;
            }
        }
    }
}
@media (max-width: 575.98px){
    .dropDownWrapper{
        padding-top: 40px;
        padding-inline: 0px;
        .overlay{
        width: 110px;
        }
        .overlay-spo{
            width: 70px;
            font-size: 12px;
            height: 18px;
            
        }
        .sportSelect {
        width: 100px;
        min-height: 24px;
        font-size: 12px
        }

        .countSelect {
        width: 100px;
        min-height: 24px;
        font-size: 12px

        }
        .overlay{
            width: 80px;
            font-size: 12px;
            height: 19px;
                
        }
        justify-content: center;
        .selectContainer{
        gap: 10px;
        
        }
        flex-direction: row;

        .filterWrap{
            gap: 10px;
            overflow-y: hidden;
            &::-webkit-scrollbar{
                display: none;
            }
            .renderContainer {
                    padding: 3px 5px;
                    min-width: fit-content;

                    p {
                        font-size: 12px;
                    }
                }

        }
    }
}