.league_list {
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 10%;

    .league_list_item {
        padding-bottom: 6.25rem;

        h3 {
            font-size: 12.25rem;
            -webkit-text-stroke-width: 3px;
            -webkit-text-stroke-color: #E83539;
            color: #0f0f0f;
            font-family: "Arial";
            margin-bottom: -6rem;
            margin-left: -3.125rem;
            z-index: -1;
            position: relative;

        }

        ul {

            li {
                list-style: none;
                font-size: 2.6rem;
                padding-bottom: 30px;

                a {
                    text-decoration: none;

                    span:nth-of-type(1) {
                        font-family: "Montserrat";
                        font-weight: bold;
                    }

                    span:nth-of-type(2) {
                        font-size: 1.5rem;
                        // font-family: "Open Sans";
                        font-family: "Montserrat";
                    }
                }

                
            }
        }
    }
}
.underline-hover {
    position: relative;
    text-decoration: none;

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        border-bottom: 15px solid #E83539; // Ändere dies auf die gewünschte Farbe und Dicke
        transition: width 0.3s ease-in-out; // Ändere die Übergangszeit nach Bedarf
        z-index: -1;
    }

    &:hover:before {
        width: 100%;
    }
}

// =============================================================
//                  FILTER RESULTS STYLING START 
// =============================================================

.results_container{
    padding-inline: 3%;
    padding-bottom: 10%;

    h2 {
            text-align: center;
            font-size: 5rem;
            font-family: "Inter";
        }
    
        div {
            padding-bottom: 6.25rem;
            padding-top: 6.25rem;
    
            ul {
                
    
                li {
                    list-style: none;
                    font-size: 2.6rem;
                    padding-bottom: 2.25rem;
    
                    a {
                        text-decoration: none;
    
                        span:nth-of-type(1) {
                            font-family: "Montserrat";
                            font-weight: bold;
                        }
    
                        span:nth-of-type(2) {
                            font-size: 1.5rem;
                            // font-family: "Open Sans";
                            font-family: "Montserrat";
                        }
                    }
    
    
                }
            }
        }
    }
    .underline-hover_filter_list {
        position: relative;
        text-decoration: none;

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            border-bottom: 15px solid #E83539; // Ändere dies auf die gewünschte Farbe und Dicke
            transition: width 0.3s ease-in-out; // Ändere die Übergangszeit nach Bedarf
            z-index: -1;
        }

        &:hover:before {
            width: 100%;
        }
    }

.no_results_found{
    margin-inline: auto;
    padding-inline: 3%;
    display: flex;
    flex-direction: column;
    padding-bottom: 6.25rem;
    padding-top: 6.25rem;
    text-align: center;

        p {
            align-self: center;
            font-size: 24px;
            padding-bottom: 2.25rem;
            font-family: "Montserrat";
            // font-weight: bold;
        }
// HIER NOCHMAL SCHAUEN FALLS PROBLEME
        img{
            align-self: center;
            max-width: 400px;
            margin-top: 8vh;
            height: 400px;
            object-fit: cover;
            filter: grayscale(0.9) brightness(0.3);
            box-shadow: 0px 0px 30px 0px black;
            max-width: 69%;
            filter: grayscale(1);
        }
}
// =============================================================
//                  FILTER RESULTS STYLING END 
// =============================================================

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .league_list {
    
        h2 {

        }
    
        div {
    
            h3 {
    
            }
    
            ul {
    
                li {
                    font-size: 1.4rem !important;

                    a {
    
                        span:nth-of-type(1) {
    
                        }

                        span:nth-of-type(2) {

                        }
                    
                    }
                }
            }
        }
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    .league_list {
    
        h2 {

        }
    
        div {
    
            h3 {
    
            }
    
            ul {
    
                li {
                    font-size: 2rem;

                    a {
    
                        span:nth-of-type(1) {
    
                        span:nth-of-type(2) {

                        }
                        }
                    
                    }
                }
            }
        }
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 

}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { 

}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { 

}